<!DOCTYPE html>
<html>
<head>
  <title>Taskapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script>
  	$.ajaxSetup({
		headers: {
			'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
		}
	});
  </script>
</head>
<body>

<%= image_tag "logo.png" %>
<%= yield %>
<%= link_to "Home", projects_path %>

</body>
</html>
